* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeedec;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    letter-spacing: 0.18rem;
}

.container {
    max-width: 720px;
}

.change-location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.change-location select {
    width: 50%;
}

.city-photo {
    position: relative;
    width: 50%;
}

.city-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1%;
    left: 1%;
    border-radius: 50%;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card {
    width: 100%;
    position: relative;
    flex-direction: row !important;
}

.details {
    width: 50%;
}

.details-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    border-bottom: 1px solid #eeedec;
    margin-bottom: .3rem;
}

.details-flex:last-child {
    border: none;
}